@model IEnumerable<EcommerceApp.Models.CustomerWithRoles>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Customer.User)
            </th>
            <th>
                Role
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.User.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Customer.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.User.Id)
            </td>
            <td>
                @(item.Roles.FirstOrDefault())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.User.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Customer.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Customer.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Customer.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
